.UploadData_InputStyle {
    height: 60px;
}

.custom-file-upload {
    border: 1px solid #1976d2;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #1976d2;
}

input[type="file"] {
    display: none;
}