.Analysis {
	margin: 30px;
	border-left: 1px solid lightblue;
	border-right: 1px solid lightblue;
	border-top: 1px solid lightblue;
	text-align: center;
	height: 100vh;
	/* background: #313e4c; */
}


.Analysis-background {
	/* background-color: #313e4c; */
}

.Analysis__TaskHeader {
	font-size: 32px;
	color: rgb(255, 0, 242)
}

.Analysis__PageTitle {
	font-size: 40px;
	color: rgb(255, 0, 242)
}

.ResultsTitleFont {
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif;
}