.CreateTask__AddButton {
	margin-top: 10px;
	margin-left: 65px;
}

.CreateTask__Box {

	border: 1px solid lightgray;
	overflow-y: scroll;
	width: 200px;
	height: 100px;
	margin-top: 10px;
}

.CreateTask__div {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-bottom: 50px;
}


.CreateTask__Keywords {
	margin: 5% 15% 1% 15%;
}


.CreateTask__DatePicker {
	justify-content: space-between;
	margin-bottom: 25px;
}

.CreateTask__Middle {
	margin: 5% 1% 1% 1%;
}

.CreateTask {
	display: flex;
}

.CreateTask__label {
	padding-bottom: 3px;
	font-size: 17px;
	font-family:'Times New Roman', Times, serif;
}

.CreateTask_CustomPicker {
	background-color: aqua;
	padding: 7px;
	font-size: 15px;
	border: 1px solid red;
}